<a href="https://colab.research.google.com/github/ecloguehwang/HSS/blob/master/%EC%A0%95%EC%8B%9C%EC%9E%90%EB%A3%8C_2021_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#colab에서 matplotlib와 sns 라이브러리 그래프 한글을 깨지지 않게 하는 법: 이 코드실행하고 런타임(runtime) 다시 실행하기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [2]:
#pandas, openpyxl 라이브러리 부르기
import pandas as pd
import numpy as np
import os
import openpyxl
from tabulate import tabulate
import matplotlib.pyplot as plt


##  데이터 부르기
path = '/content/drive/MyDrive/python/entrance/'
#df = pd.read_excel(f'{path}jeongsi_fouryears.xlsx')

df = pd.read_excel(f'{path}j_new01.xlsx')


# 첫 5줄을 봅니다.
df.head(2)

,지역,대학,연도,전형시기,전형,학과,계열,모집인원,경쟁률,추합,...,등급70컷,국어,수학,탐구,평균,영어,지원자수,합격인원,실경쟁률,전형학과
0,부산울산경남,가야대,2021,정시,정시(다),간호학과,자연,32,6.75,66,...,NaN,55,17,52,41.33,NaN,216.00,98.0,2.204082,정시(다) 간호학과
1,부산울산경남,가야대,2022,정시,정시(다),간호학과,자연,26,8.39,42,...,NaN,80,41,27,49.33,2,218.14,68.0,3.207941,정시(다) 간호학과

In [ ]:
df.groupby('지역').size()

지역
강원         961
경기        2431
광주전남      1411
대구경북      1971
대전        1364
부산울산경남    3213
서울        1745
서울15      2942
인천         446
전북        1159
제주         211
충남        2038
충북        1286
dtype: int64

In [6]:
df.groupby('연도').size()

연도
2021    5235
2022    5181
2023    5233
2024    5529
dtype: int64

In [18]:
# 연도 입력받기
year = int(input("연도를 입력하세요: "))
college = input("대학을 입력하세요: ")
major = input("전공을 입력하세요: ")

# 해당 연도의 데이터 필터링
filtered_df = df[(df['연도'] == year) & (df['대학'] == college)]

# 전공 필터링
filtered_df = filtered_df[filtered_df['학과'].str.contains(major)]


#필요한 열만 추출
filtered_df = filtered_df[['대학', '연도', '전형', '학과', '모집인원', '실경쟁률']]


#필요한 열만 추출
filtered_df['실경쟁률'] = filtered_df['실경쟁률'].round(1)



# 결과 출력
if not filtered_df.empty:
    print()
    print(f"{year}년도 {college}의 데이터:")
    print(filtered_df)
else:
    print(f"{year}년도 {college} 대학에 해당하는 데이터가 없습니다.")

연도를 입력하세요: 2024
대학을 입력하세요: 서울대
전공을 입력하세요: 경제

2024년도 서울대의 데이터:
        대학    연도       전형       학과 모집인원  실경쟁률
11046  서울대  2024    정시(나)     경제학부   54   2.7
11047  서울대  2024  정시(나)지균     경제학부   20   1.7
11064  서울대  2024    정시(나)  농경제사회학부   14   4.6

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21178 entries, 0 to 21177
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      21178 non-null  object
 1   대학      21178 non-null  object
 2   연도      21178 non-null  int64
 3   전형시기    21178 non-null  object
 4   전형      21178 non-null  object
 5   학과      21178 non-null  object
 6   계열      21178 non-null  object
 7   모집인원    21076 non-null  object
 8   경쟁률     20982 non-null  object
 9   추합      19980 non-null  object
 10  변환50%컷  875 non-null    object
 11  변환70%컷  19456 non-null  object
 12  만점      18865 non-null  object
 13  등급50%컷  405 non-null    object
 14  등급70컷   477 non-null    object
 15  국어      9120 non-null   object
 16  수학      8984 non-null   object
 17  탐구      9124 non-null   object
 18  평균      18917 non-null  object
 19  영어      4992 non-null   object
 20  지원자수    21140 non-null  float64
 21  합격인원    21124 non-null  float64
 22  실경쟁률    21023 non-null  float64
 23  전형학과    21178 non-null  object
dtypes: float64(3), int64(1), object(20)
memory usage: 3.9+ MB